@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* general */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    /* @apply text-third; */
}

.btn-primary {
    @apply bg-first hover:bg-fourth hover:text-third w-full border rounded-2xl text-white flex items-center justify-center gap-3 p-3;
}

.btn-secondary {
    @apply bg-third hover:bg-fourth hover:text-third border rounded-2xl text-white flex items-center justify-center gap-3 p-2;
}

.link {
    @apply text-first hover:text-accent1;
}

.icon {
    @apply w-6;
}

/* form */
.form-div {
    @apply mb-2 flex flex-col;
}

.form-div-row {
    @apply mb-2 flex justify-evenly gap-4;
}

.form-label {
    @apply font-normal;
}

.form-input {
    @apply border rounded-2xl p-3;
}

.field {
    @apply border rounded-2xl p-4 border-third;
}

.field-legend {
    @apply font-bold;
}

/* vehicle */
.vehicle-card {
    @apply bg-second rounded-2xl p-4;
}

.label {
    @apply px-2 py-1 rounded-2xl text-white;
}
.available {
    @apply bg-accent2;
}

.unavailable {
    @apply bg-accent1;
}

.breakdown {
    @apply bg-red-500;
}

.vehicle-brand {
    @apply text-2xl;
}

.vehicle-details {
    @apply font-bold text-xl;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-second;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-third rounded-xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
